.search-bar{
    &__input{
        width: 25rem;
        // outline: none;
        // border: 1px solid black;
        // display: inline-block;
        // padding: .5rem 3rem;
        // font-size: 1.6rem;
        // border-radius: 5rem;
    }
}