.search-bar{
    width: 50%;
    display: flex;
    // margin-top: 12px;
  
    &__input{
        margin: toRem(30px) 0;
        // outline: none;
        // border: 1px solid black;
        // display: inline-block;
        // padding: .5rem 3rem;
        // font-size: 1.6rem;
        // border-radius: 5rem;
    }
}