.video-list{
    list-style: none;
    font-size: 1.8rem; //18px
    display: flex;
    flex-direction: column;

    min-height: 30rem; //300px
    width: 40%; 
    padding: 0 2rem;
    // border: 1px solid black;
    border-radius: .6rem;
    box-shadow: 0 4px 5px rgba(0,0,0,.3);
    
}
.video-list-item{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;

    align-items: center;
    height: 14rem;

    &:last-child{
        border: none;
    }
    &__image-box{
        // background-color: pink;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 0 0 40%;
    }
    &__text-wrapper{
        // background-color: aquamarine;
        flex: 1 0;
    }
    &__text{
        
    }
}


// background-color:#9BC1BC;
//78C0E0