.video-list{
    list-style: none;
    font-size: 1.125rem; //18px
    display: flex;
    flex-direction: column;

    min-height: 18.75rem; //300px
    width: 25rem; //400px

    border: 1px solid black;
    border-radius: .6rem;
    box-shadow: 0 4px 5px rgba(0,0,0,.3);
    
}
// background-color:#9BC1BC;
//78C0E0