.video-list{
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;

    min-height: 30rem;
    width: 40rem;

    border: 1px solid black;
    border-radius: .6rem;
    box-shadow: 0 .4rem .5rem rgba(0,0,0,.3);
    
}
// background-color:#9BC1BC;
//78C0E0